/* General Style */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Open Sans;
}
.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 150px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #fd6e0a;
}
ul {
  list-style: none;
}
.container {
  width: 80%;
  margin: auto;
}

/* header section */

/* navigation */
/* logo */
nav .logo {
  color: #181818;
  font-family: Open Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
nav .logo span {
  color: #fd6e0a;
  font-family: Open Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
/* menu */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 35px;
}
nav ul li a {
  color: #474747;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  padding: 10px 30px;
}
